<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Picks - What I interested in{{#year}} on {{.}}{{/year}}.</title>

    <link rel="alternate" type="application/rdf+xml" href="https://feeds.pinboard.in/rss/u:hail2u/">
    <link rel="icon" href="{{path}}favicon.ico">
    <link rel="stylesheet" href="{{path}}css/style.css">
  </head>
  <body>
    <header>
      <h1>Picks</h1>

      <p>What I interested in{{#year}} on {{.}}{{/year}}.</p>
    </header>

    <ul class="bookmarks">
      {{#item}}
      <li><time title="{{time}}" datetime="{{time}}">{{date}}</time><a class=" {{tags}}" href="{{href}}" title="{{description}}&#x0a;{{extended}}">{{description}}</a></li>
      {{/item}}
    </ul>

    {{#archives}}
    <section class="archives">
      <h2>Archives</h2>

      <ul>
        {{#year}}
        <li><a href="./{{.}}/"><time>{{.}}</time></a></li>
        {{/year}}
      </ul>
    </section>
    {{/archives}}

    <section class="sources">
      <h2>Sources</h2>

      <ul>
        <li><a href="https://dribbble.com/hail2u">Dribbble</a></li>
        <li><a href="https://github.com/hail2u">GitHub</a></li>
        <li><a href="http://instagram.com/hail2u_">Instagram</a></li>
        <li><a href="https://pinboard.in/u:hail2u/">Pinboard</a></li>
        <li><a href="http://www.pinterest.com/hail2u/">Pinterest</a></li>
        <li><a href="https://www.readability.com/hail2u/">Readability</a></li>
        <li><a href="https://soundcloud.com/hail2u_">SoundCloud</a></li>
        <li><a href="https://vimeo.com/hail2u">Vimeo</a></li>
      </ul>
    </section>

    <footer>
      <p>Collected by <a href="http://hail2u.net/about/">Kyo Nagashima</a>.</p>
    </footer>
  </body>
</html>
