<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">

    <title>Picks - What I interested in{{#year}} on {{.}}{{/year}}.</title>

    <link href="https://feeds.pinboard.in/rss/u:hail2u/" rel="alternate" type="application/rdf+xml">
    <link href="{{path}}css/style.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Picks</h1>

      <p>What I interested in{{#year}} on {{.}}{{/year}}.</p>
    </header>

    <ul class="bookmarks">
      {{#item}}
        <li><time datetime="{{time}}" title="{{time}}">{{date}}</time><a class=" {{tags}}" href="{{href}}" title="{{description}}&#x0a;{{extended}}">{{description}}</a></li>
      {{/item}}
    </ul>

    {{#archives}}
      <section class="archives">
        <h2>Archives</h2>

        <ul>
          {{#year}}
            <li><a href="{{path}}{{.}}/"><time>{{.}}</time></a></li>
          {{/year}}
        </ul>
      </section>
    {{/archives}}

    <section class="sources">
      <h2>Sources</h2>

      <ul>
        <li><a href="https://www.behance.net/hail2u">Behence</a></li>
        <li><a href="https://github.com/hail2u">GitHub</a></li>
        <li><a href="https://instagram.com/hail2u_">Instagram</a></li>
        <li><a href="https://instapaper.com/p/hail2u">Instapaper</a></li>
        <li><a href="https://pinboard.in/u:hail2u/">Pinboard</a></li>
        <li><a href="https://www.pinterest.com/hail2u/">Pinterest</a></li>
        <li><a href="https://soundcloud.com/hail2u_">SoundCloud</a></li>
        <li><a href="https://vimeo.com/hail2u">Vimeo</a></li>
      </ul>
    </section>

    <footer>
      <p><a href="https://kyonagashima.com/">Kyo Nagashima</a></p>
    </footer>
  </body>
</html>
